@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Address Information:</h1>

<form class="form-horizontal" action="/" method="post">
  <div class="form-group">
    <label class="col-md-2" for="name">Contact's Name: </label>
    <div class="col-md-10">
      <input type="text" name="name" id="name">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2" for="address">Contact's Address: </label>
    <div class="col-md-10">
      <input type="text" name="address" id="address">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2" for="city">Contact's City: </label>
    <div class="col-md-10">
      <input type="text" name="city" id="city">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2" for="state">Contact's State: </label>
    <div class="col-md-10">
      <input type="text" name="state" id="state">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2" for="zipCode">Contact's Zip Code: </label>
    <div class="col-md-10">
      <input type="number" name="zipCode" id="zipCode">
    </div>
  </div>

  <button type="submit">Add Contact</button>
</form>
