@{
  Layout="Shared/_Layout.cshtml";
}

@if ( Model.Count > 0 ) {
  <h1>Contacts</h1>
  <ul>
    @foreach(var item in Model)
    {
      <li><a href="/contacts/@item.GetId()">@item.GetName()</a></li>
    }
  </ul>
} else {
  <h2>Add a Contact</h2>
}
<p><a href="/contacts/new">Add a Contact: </a></p>
<form action="/contacts/cleared" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
