@{
  Layout="Shared/_Layout.cshtml";
}

@if ( Model.Count > 0 ) {
  <h1>Addresses</h1>
  <ul>
    @foreach(var item in Model)
    {
      <li><a href="/addresBooks/@item.GetId()">@item.GetName()</a></li>
    }
  </ul>
} else {
  <h2>Add an Address</h2>
}
<p><a href="/addressBooks/new">Add an Address</a></p>
<form action="/addressBooks/cleared" method="post">
  <button type="submit" name="button">Clear All Addresses</button>
</form>
